<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.MainMenuActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu.PlayMenuActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.example.game.Menu.SearchGameActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name=".Menu.SelectRoomMenuActivity" android:screenOrientation="landscape"/>
        <activity android:name=".Menu.OptionsMenuActivity" android:screenOrientation="landscape"/>
        <activity android:name=".Menu.CreditsMenuActivity" android:screenOrientation="landscape"/>
        <activity android:name=".Menu.SelectCharacterMenuActivity" android:screenOrientation="landscape"/>
        <activity android:name=".Menu.SelectStrategyMenuActivity" android:screenOrientation="landscape"/>
    </application>

</manifest>